* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body {
    padding-right: 4px;
    background-color: rgb(129, 122, 198);
    color: rgb(78, 62, 121);
}

h1 {
    text-align: center;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

.lista {
    display: block;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
 }

 dt {
    font-weight: bold;
 }
 
 dd {
    color:rgb(223, 225, 231);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}




